
h3 {
	color: #96452a;
}

.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #282828;
	font-weight: 400;
}

.sport-list {
   background-color: #F0F0F0;

}

.sport-list:hover {
   background-color: #282828;

}

.divider {
	height: 7px;
}
.divider.blue {
	background-color: #2a6496;
}
.divider.orange {
	background-color: #96452a;
}

.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background-color: #282828;
}
.banner.profile {
	height: 150px;
	background-color: #2a6496;
}
.banner h1 {
	margin: 45px 0;
}
.padding-none {
	padding: 0;
}

.btn {
    background-color: #96452a;
    color: #282828;
    padding: 0px;
    font-size: 25px;
    border: none;
    cursor: pointer;
	border-radius: 5px;
}

.btn:hover {
    background-color: #282828;
    color: #96452a;
}

.button-txt {
    padding: 3px 10px;
}

.header-right {
	margin-top: 105px;
	font-size: 30px;
	color: #96452a;
}

.team-color {
	font-size: 60px;
	color: #96452a;
}

.topmargin-none {
	margin-top: 0px;
}

.margin-col {
	margin-top: 20px;
}

.margin-col2 h1{
	margin-top: 0px;
}

.formcontainer {
    margin-left:20%;
    margin-right: 20%;
}

.form-setup {
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    background-color: #282828;
    color: #fff;
}

.input-form {
    width: 650px;
}

.text-input-form {
    height: 200px;
}

.form-color {
	color: #282828;
}

.leftBlock {
    padding-left: 20px;
    text-indent: -20px;
}
.leftBlock input {
    width: 20px;
}

.btned {
    color: #282828;
    padding: 0px;
    font-size: 20px;
    border: none;
    cursor: pointer;
	border-radius: 1px;
	border-style: solid;
    border-color: #282828;
}

.btned:hover {
	border-color: #96452a;
    color: #96452a;
	text-decoration: none;
}

.btn-setting {
	margin-right: 10px;
	padding: 5px;
}

.mrgin-rght {
	margin-right: 20px;
}

.floating-box {
	display: inline-block;
	margin: 1.4% 4%;
	float: left;
}

.floatingbtn-box {
	display: flex;
	flex-wrap: wrap;
}

.error {
	color: #6d0303
}
