{% extends "header2.html" %} {% block header %} "{{sport.name}}" {% endblock %} {% block body %}
<br><br>
<div class="row text-center">
    <a href="{{url_for('newLeague', sport_id=sport.id)}}" class="btn button-txt" style="text-decoration: none;">
        Add new League
    </a>
</div>
{% if error %}
<div class="alert alert-danger" id='infor' role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
</div>
{% endif %}
<br><br> {% for league in leagues %}
<a href="{{url_for('showTeamsLeague', sport_id=sport.id, league_id=league.id)}}">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 sport-list">
            <h3>{{league.name}}</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
</a>
<br>{% endfor %} {% endblock %}
