<!DOCTYPE html>
<html>

    <head>
        <title>sport</title>
    </head>

    <body>
        <h2>Add Team</h2>
        <form method="post">
            <label for="name">Name:</label>
            <input type="text" maxlength="100" name="teamname">
            <br>
            <label for="name">Select league:</label><br>
            <input type="radio" name="leaguename" value="No league" checked> No league<br> {% for league in leagues %}
            <input type="radio" name="leaguename" value="{{league.name}}"> {{league.name}}<br>{% endfor %}
            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>
            <input type="submit" value="add">
        </form>
    </body>

</html>
