{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row text-center">
    <a href="{{url_for('newSport')}}" class="btn button-txt" style="text-decoration: none;">
            Add new Sport
        </a>
</div>
<br>{% for sport in sports %}


<a href="{{url_for('showSportPage', sport_id = sport.id)}}">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 sport-list">
            <h3>{{sport.name}}</h3>
            <a href="{{url_for('editSport', sport_id = sport.id )}}">
                Edit Sport
    		</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</a>
{% endfor %} {% endblock %}
