<!DOCTYPE html>
<html>

    <head>
        <title>sport</title>
    </head>

    <body>
        <h1> {{league.name}}
        <h4> {{sport.name}} </h4>
        <h5> added by {{creator.name}}</h5>
        <br><br>
        <a href="{{url_for('newTeam', sport_id=sport.id, league_id=league.id, user_id=creator.id)}}">
            Add new Team
        </a>
        <br><br><br>
        {% for team in teams %}
        <a href="{{url_for('showTeampage', sport_id = sport.id, team_id = team.id)}}">
            {{team.name}}
        </a>
        <br>{% endfor %}
    </body>

</html>
