{% extends "header2.html" %} {% block header %} "{{sport.name}}" {% endblock %} {% block body %}
<div class="row">
    <div class="col-md-6 margin-col">
        <a href="{{url_for('newTeam', sport_id=sport.id, league_id=league.id, user_id=creator.id)}}" class="btn button-txt" style="text-decoration: none;">
            Add new Team
        </a>
    </div>
    <div class="col-md-6 text-right margin-col2">
        <h1>
        {{league.name}}
    </h1>
        <h5>
        added by {{creator.name}}
    </h5>
    </div>
</div>
<br>
<br>

<br> {% for team in teams %}
<a href="{{url_for('showTeampage', sport_id = sport.id, team_id = team.id)}}">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 sport-list">
            <h3>{{team.name}}</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
</a>
<br>{% endfor %} {% endblock %}
