{% extends "header2.html" %} {% block header %} "{{sport.name}}" {% endblock %} {% block body %}


<br><br>
<div class="row text-center">
    <a href="{{url_for('newTeam', sport_id=sport.id, league_id=0)}}" class="btn button-txt" style="text-decoration: none;">
        Add new Team
    </a>
</div>
{% if error %}
<div class="alert alert-danger" id='infor' role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
</div>
{% endif %}
<br><br> {% for team in teams %}
<a href="{{url_for('showTeampage', sport_id = sport.id, team_id = team.id)}}">
    <div class="col-md-3 sport-list floating-box">
        <h3>{{team.name}}</h3>
    </div>
</a>
{% endfor %}{% endblock %}
